ul{
  display: flex;
  gap: 1em;
  margin-block: 0.5rem 2rem;

  > button{
    height: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    &.active img{
        opacity: 1;
    }

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      opacity: 40%;
    }
  }
}